<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/deco.css">

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-danger container">
    <a class="navbar-brand" href="#"><img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/film-camera-622614.png"
                                          class="img-fluid" alt="test"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><h6>Acceuil</h6> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><h6>Discusion</h6> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><h6>MediaTheque</h6><span class="sr-only">(current)</span></a>
            </li>

        </ul>
        <form class="form-inline my- my-lg-0">
            <div class="form-group">
            <input class="form-control" type="text" placeholder="Rechercher" style="width: 200px !important;">
            </div>
                <div class="form-group">

            </div>
        </form>
    </div>
    <img src="http://www.myiconfinder.com/uploads/iconsets/256-256-c748dad6856e5180c9c87131465b41aa-reel.png"
         class="img-fluid" alt="test">

</nav>
<body class="container">


<div class="jumbotron bg-success text-center"><h1 style="color: white !important;">LISTE DES FILMS DISPONIBLE DANS363 NOTRE SITES</h1></div>

<table class="table table-hover">
    <thead>
    <tr class="bg-success">
        <th scope="col">ID</th>
        <th scope="col">Nom_Film</th>
        <th scope="col">Annee Sortie</th>
        <th scope="col">Description</th>
        <th scope="col">Photo</th>
    </tr>
    </thead>

    {% for affichage in film_affihage %}
    <tbody>0
    <tr class="table-active">
<td class="bg-success">{{ affichage.id }}</td>
    <td class="bg-danger"> {{ affichage.nom_film }}</td>
        <td class="bg-primary"> {{ affichage.annee_sortie }}</td>
        <td class="bg-secondary">{{ affichage.description }}</td>

    <td><img id="test" src=" {{ affichage.photo_film }}" width="200px" height="200px" class="image-fluid "></td>


    </tr>

{% endfor %}

</body>
